<td>{{ metrics.OVERALL.total_responses }}</td>
{% include 'mast/dashboard/helpers/teamcell.html' with metric=metrics.MAST_DEPTH.beliefs_metadata_1 border=True %}
{% include 'mast/dashboard/helpers/teamcell.html' with metric=metrics.MAST_DEPTH.beliefs_metadata_2 %}
{% include 'mast/dashboard/helpers/teamcell.html' with metric=metrics.MAST_DEPTH.beliefs_analysis_1 border=True %}
{% include 'mast/dashboard/helpers/teamcell.html' with metric=metrics.MAST_DEPTH.beliefs_analysis_2 %}
{% include 'mast/dashboard/helpers/teamcell.html' with metric=metrics.MAST_DEPTH.beliefs_standards_1 border=True %}
{% include 'mast/dashboard/helpers/teamcell.html' with metric=metrics.MAST_DEPTH.beliefs_standards_2 %}
{% include 'mast/dashboard/helpers/teamcell.html' with metric=metrics.MAST_DEPTH.beliefs_teamwork_1 border=True %}
{% include 'mast/dashboard/helpers/teamcell.html' with metric=metrics.MAST_DEPTH.beliefs_teamwork_2 %}
{% include 'mast/dashboard/helpers/teamcell.html' with metric=metrics.IDEAL_DEPTH.actions_inventory_1 border=True %}
{% include 'mast/dashboard/helpers/teamcell.html' with metric=metrics.IDEAL_DEPTH.actions_inventory_2 %}
{% include 'mast/dashboard/helpers/teamcell.html' with metric=metrics.IDEAL_DEPTH.actions_document_1 border=True %}
{% include 'mast/dashboard/helpers/teamcell.html' with metric=metrics.IDEAL_DEPTH.actions_document_2 %}
{% include 'mast/dashboard/helpers/teamcell.html' with metric=metrics.IDEAL_DEPTH.actions_endorse_1 border=True %}
{% include 'mast/dashboard/helpers/teamcell.html' with metric=metrics.IDEAL_DEPTH.actions_endorse_2 %}
{% include 'mast/dashboard/helpers/teamcell.html' with metric=metrics.IDEAL_DEPTH.actions_audit_1 border=True %}
{% include 'mast/dashboard/helpers/teamcell.html' with metric=metrics.IDEAL_DEPTH.actions_audit_2 %}
{% include 'mast/dashboard/helpers/teamcell.html' with metric=metrics.IDEAL_DEPTH.actions_leadership_1 border=True %}
{% include 'mast/dashboard/helpers/teamcell.html' with metric=metrics.IDEAL_DEPTH.actions_leadership_2 %}
